*{
    box-sizing: border-box;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.manna-header{
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px;
}

.actuel{
    color: aliceblue;
}

.actuel:hover{
    color: antiquewhite;
}

header{
    background-color: aqua;
}

nav ul li a{
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}